header {
    height: 80px;
    transition: height .2s ease, border .2s ease;
    border-bottom: 2px solid transparent;
}

header.stickyMobile {
    border-bottom: 2px solid var(--gray-light);
}

header.isSticky .top-header-wrapper {
    height: 58px;
}

header .top-header-wrapper .custom-nav-header {
    transition: all .5s ease;
    max-width: 0px;
    max-height: 0px;
}

header.isSticky .top-header-wrapper .custom-nav-header {
    max-width: 100px;
    max-height: 100px;
    display: flex !important;
}

body.isSticky .custom-nav {
    display: none !important;
    ;
}

header {
    transition: unset !important;
}

header * {
    transition: initial !important;
}

header .top-header-wrapper {
    /* transition: height .2s ease !important; */
}

.bottom-header-custom {
    border: none;
}

#container {
    margin-top: 85px;
}

header::before,
header::after {
    transition-delay: unset;
    transition: all .2s ease;
}

header.stickyMobile .top-header-wrapper {
    border: none;
}

@media(max-width:978px) {
    header {
        height: 115px;
    }

    header .top-header-wrapper {
        height: 75px
    }

    #container {
        margin-top: 110px
    }

    #logo img {
        max-width: 100%;
    }
}

@media(max-width:420px) {
    #logo img {
        max-width: 80%
    }
}

#logo img {
    transition: all .2s ease
}

header.stickyMobile::before,
header.stickyMobile::after {
    height: calc(100% + 2px)
}

header.stickyMobile .top-header-wrapper {
    height: 48px
}

header #menu_settings {
    width: auto
}

/* ! */

/* header {
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(0) !important;
    margin-bottom: 1rem;
} */

/* header.isSticky {
    left: 50%;
    transform: translateX(-50%) !important;
} */

/* @media(min-width:979px) {

    #container {
        margin-top: 0;
    }
} */



#container {
    margin-top: 0;
}

body {
    transition: transform .2s ease
}

header {
    position: sticky !important;
    top: 0;
    left: 50%;
    transform: translateX(0) !important;
}

header {
    transition: height .2s ease, max-width .2s ease !important;
}

header * {
    transition: inherit !important
}

header #menu_settings a:not(.basket-link) span {
    transform: none !important;
}

.basket-link-empty .basket-empty {
    transform: none !important;
}

header:not(.isSticky) .top-header-wrapper .custom-nav-header .nav-category-header {
    padding: 0;
    border: 0;
}

@media(max-width:978px) {
    header {
        position: fixed !important;
        transform: translateX(-50%) !important;
    }

    #container {
        margin-top: 120px;
    }
}


/* html {
    overflow: auto;
} */

.categories-wrapper-ul-header {
    transition: all .5s ease !important;
    will-change: height, width;
}

#footer_links .footer_links#menu_orders {
    border-bottom: 0;
}

.menu_basket_list #menu_basket_details {
    transition: transform .3s ease !important
}

.order_process header {
    border: none;
    border-bottom: 2px solid transparent;
}

.order_process header.isSticky,
.order_process header.stickyMobile {
    border-bottom: 2px solid var(--gray-light);
}

.progress__item.--active .progress__name::after {
    background: var(--purple-light);
}

#dialog_wrapper {
    border-radius: 24px;
}

#dialog_close {
    top: 15px;
    right: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3.order2_info1 {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1;
    text-transform: uppercase;
}

.custom-check-data {
    padding-left: 0;
}

.custom-check-data span {
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    position: relative;
    white-space: nowrap;
    width: 100%;
    text-transform: none;
}

.custom-check-data span::after {
    content: '';
    display: block;
    width: 100%;
    background: var(--gray-light);
    height: 2px;
    left: 100%;
    margin-left: 1.5rem;
    top: 50%;
    transform: translateY(-50%)
}

.order2_info1 a {
    text-transform: lowercase;
    font-weight: 600;
}

div.email_processing_consent {
    background: none;
    border: none;
}

.order2_page .f-group.--radio .f-control:checked+.f-label:before {
    background: var(--purple-light);
}

.order2_page .f-group.--radio .f-control:checked+.f-label:after {
    display: none;
}

.order2_page input[type='checkbox']+.css-label {
    border-radius: 5px;
}

textarea.order2_text {
    border-radius: 24px;
}

#ui-dialog_button button {
    border-radius: 24px;
}

#menu_basket div.menu_basket_list>a strong {
    height: 20px
}

@media (max-width: 757px) {

    #basketedit_productslist td.productslist_product_sum span {
        text-align: right;
        justify-content: flex-end;
    }
}

.ul-category-header>li {
    padding: 0 3rem
}

.photos__photo.--nav {
    max-height: 67px;
}

.hide_td {
    display: none
}

.product-set .set {
    border: none
}

.displayBackButton {
    display: flex !important;
    opacity: 1 !important;
}

#backTop {
    transition: all .4s ease;
    opacity: 0;
    display: flex;
}

.hideBackButton {
    opacity: 0 !important;
    pointer-events: none;
}

#layout h2.promotions:after {
    margin-left: 15rem;
}

.overlay {
    transition: opacity .3s ease;
}

.overlay.hideCategories {
    z-index: 98;
}

.custom-nav-header .ul-category-header li.li-depth-1-header a {
    justify-content: flex-start;
}

#logo .li-depth-1-header img {
    margin-right: 2rem;
}

#logo .li-depth-1-header i {
    margin-left: auto;
}

.active-categories-header .menu_basket_list {
    pointer-events: none;
}

/* @media(min-width:858px) {

    #menu_settings #menu_additional>a {
        max-width: 80px;
        width: 80px;
        ;
    }

    .menu_basket_list>a {
        max-width: 110px;
    }
}

@media(min-width:858px) and (max-width:1199px) {
    #menu_settings .menu_basket_list>a {
        max-width: 105px;
        width: 105px;
    }
} */

.progress__name::after {
    height: 2px;
}

body #footer_links .footer_links#menu_orders {
    padding-bottom: 0;
}

.order1_page #layout .summary__sub.--right {
    border: none
}

.order1_page .summary__time {
    display: none
}

.summary__calculation.--total {
    border: none
}

@media(max-width:978px) {

    .order__payments .headline .big_label-custom,
    .order__delivery .headline .big_label-custom {
        margin: 0;
    }

    .order1_page .progress__item.--first {
        display: none
    }

    .order2_page .progress__item.--first,
    .order2_page .progress__item.--second {
        display: none
    }
}

.order2_page #layout .basketedit_total_summary,
.order2_page #layout .basketedit_calculations {
    border: none
}

.order2__product:not(.--head):before {
    display: none
}

.order2__product:not(.--head) {
    padding: 0;
}

.order2__product.--head:after {
    display: none
}

.order2__product.--head {
    margin-bottom: 2rem !important;
}

.order2__orderdetails_headline {
    display: none
}

.order2__delivery_item:before,
.order2__payment_item:before {
    display: none
}

.order2__delivery_item:last-child,
.order2__payment_item:last-child {
    padding-left: 0;
}

.order2__products {
    margin-bottom: 1rem !important;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-light);
}

.order2_terms_wrapper_sub.required {
    border-radius: 5px;
}

.menu_not_main_wrapper {
    padding: 0 15px !important
}

.client_orders_null {
    border-radius: 24px;
}

.btn.--solid {
    border-radius: 24px;
    background: var(--gradient);
}

.logo-text {
    font-weight: 500;
}

#logo {
    padding-left: 0;
}

header.isSticky a.basket-link {
    flex-direction: column !important;
}

header.isSticky #menu_basket div.menu_basket_list>a strong {
    height: 0;
    flex-direction: row !important;
}

header.isSticky .basket-link .img-counter-header {
    margin: 0
}

.basket-link strong {
    overflow: hidden;
    transition: height .2s ease;
}

.img-counter-header {
    margin: 0;
}

div.order2_info.comment_container {
    width: 100%;
}

.comment_container .order2_info1 {
    font-weight: 500;
}

.basketedit_summary_sub .order2__product.--head .order2__product_item.--name {
    font-weight: 500;
    text-transform: uppercase;
}

.order2__product_name.--link {
    font-weight: 500;
}

.order2__product.--head .order2__product_item:not(.--name) {
    text-transform: lowercase;
}

.order2__product.--head .order2__product_item.--vat {
    text-transform: uppercase;
}

.order2__delivery_text,
.order2__payment_text {
    text-transform: uppercase;
    font-size: 1.6rem;
}

.order2__delivery_name,
.order2__payment_name {
    font-weight: 500;
    font-size: 1.6rem;
}

.order2__products {
    font-weight: 500;
}

.order2_page #layout div.basketedit_summary_right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order2_page #layout div.basketedit_summary_right .order2_info_sub {
    flex-basis: 50%;

}

.order2_page #layout div.basketedit_summary_right .basketedit_calculations {
    flex-basis: 50%;

}

.order2_page #layout div.basketedit_summary_right .basketedit_total_summary {
    flex-basis: 100%;

}

div.email_processing_consent {
    padding-left: 0;
}

form.order2_form div.basketedit_summary {
    padding: 0;
}

.order2__product:not(.--head) {
    margin: 0 !important;
    margin-bottom: 1rem !important;
}

.order2_form .param__wrapper .param__value:before {
    background: var(--purple-light);
}

.order2_page .basketedit_summary_shipment_time strong {
    color: var(--purple-light);
    font-weight: 600;
}

div.order2_info {
    font-weight: 500;
}

div.order2_info.comment_container {
    border-radius: 24px;
}

@media(max-width:630px) {
    .order2_page #layout div.basketedit_summary_right .order2_info_sub {
        flex-basis: 100%;

    }

    .order2_page #layout div.basketedit_summary_right .basketedit_calculations {
        flex-basis: 100%;

    }

    #layout .basketedit_summary_buttons input {
        font-size: 1.3rem;

    }


}

.order2_info_label_sub:after {
    border: 1px solid var(--gray-light)
}

._mobile #dialog_wrapper {
    border-radius: 24px;
}

#toggle_comments_button {
    font-weight: 500;
}

@media(max-width:756px) {
    .order2__product:not(.--head) {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--gray-light);
    }

    .order2__products {
        border: none
    }

    .order2__delivery_text,
    .order2__payment_text {
        width: auto;
        margin: 0;
        margin-right: 1rem;
    }

    .order2__delivery_wrapper,
    .order2__payment_wrapper {
        width: auto;
    }

    .order2__delivery_worth,
    .order2__payment_worth {
        width: auto;
    }

    form.order2_form .basketedit_total_summary label {
        margin-right: 2rem;
    }
}

#layout .basketedit_summary_buttons input {
    font-weight: 500;
}

@media(max-width:630px) {


    form.order2_form .basketedit_total_summary label {
        margin-right: 0;
    }
}

.orderdetails_payment_methods_container {
    background: none;
    border: none;
}

.prepaid_payitems_wrapper {
    border-radius: 24px;
}

#orderdetails_info {
    flex-direction: column;
    align-items: flex-start !important;
}

h2.label-custom {
    font-size: 2.2rem;
    position: relative;
    width: 100%;
    color: var(--black-color-lighter);
    margin-bottom: 2rem;
    overflow: hidden;
    font-weight: 600;
    text-transform: none;

}

h2.label-custom::after {
    height: 2px;
    content: '';
    position: absolute;
    top: 50%;
    left: 23rem;
    transform: translateY(-50%);
    width: 100%;
    background: var(--gray-light);

}

.thank-you-text strong {
    font-weight: 600;
    text-transform: unset;

}

.thank-you-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--black-color-lighter);
    font-weight: 500;
}

.orderdetails_info__status {
    display: none
}

.number-custom span {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

.number-custom strong {
    font-size: 1.7rem;
    font-weight: 700;
}

.prepaid_buttons {
    justify-content: flex-start !important;

}

.prepaid_buttons a:first-child {
    margin: 0 !important
}

.prepaid_buttons a::before {
    display: none
}

.prepaid_buttons a {
    font-weight: 600;
    font-size: 1.4rem;
}

td.ordered-name li:before {
    background: var(--purple-light);
}

.prepaid_order_products a>img {
    max-width: 40px;
}

.before-rebbate-custom {
    display: block;
}

.after-rebbate-custom {
    display: block;
}

.prepaid_page td.ordered-name li:before {
    background: var(--purple-light);
}

.prepaid_page #prepaid_order_products table {
    font-weight: 500;
}

.prepaid_page #prepaid_order_products th {
    font-weight: 500;
}

.prepaid_page td.ordered-name>a {
    font-weight: 500;
}

.prepaid_page td.ordered-name label {
    font-weight: 500;
}

#prepaid_order_products {
    margin-bottom: 1rem;
}

#prepaid_delivery_list * {
    border: none !important;
}

#prepaid_address .label-custom::after {
    left: 50rem
}

#prepaid_order_products .label-custom::after {
    left: 16rem
}

#prepaid_order_products>table>thead th:not(.vat-custom) {
    text-transform: lowercase;
}

#prepaid_order_products table td {
    border: none;
}

.prepaid_page #prepaid_order_products table {
    margin: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gray-light);
}

#prepaid_order_products tbody tr:first-child th,
#prepaid_order_products tbody tr:first-child td {
    border: none
}

#prepaid_delivery_list td.ordered-price {
    text-align: right;
    font-weight: 500;
}

#prepaid_delivery_list td.ordered-name,
#prepaid_delivery_list td.ordered-price {
    text-transform: uppercase;
    font-weight: 600;
}

#prepaid_delivery_list td.ordered-name strong,
#prepaid_delivery_list td.ordered-price strong {
    text-transform: none;
    font-weight: 500;
}

.prepaid_page .orderdetails_summary label {
    font-weight: 500;
}

.prepaid_page .order2_info .order2_info_sub,
.prepaid_page .order2_info .order2_info1 {
    line-height: 1.5;
}

#prepaid_order_products tbody th {
    border: none
}

.prepaid_page #currencytotal_prepaid {
    color: var(--purple-light)
}

.prepaid_payment {
    border-radius: 24px;
}

.payments_group:first-child .payments_group_sub_content {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.payments_group:last-child .payments_group_sub_content {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

#prepaid_delivery_list td.ordered-price {
    text-transform: lowercase;
}

@media(max-width:978px) {
    .categories-wrapper-ul2 {
        left: 0;
        right: unset;
        transform: translateX(-100%);
        border-radius: unset;
        max-height: 90vh;
    }

    #menu_settings {
        margin-left: auto !important;
    }

    #menu_basket_wrapper {
        margin: 0
    }

    .top-header-wrapper {
        justify-content: flex-start;
    }
}

.button-mobile-categories {
    flex-direction: column;
    margin-right: 1rem;
}

.button-mobile-categories span {
    font-size: 15px;
    display: block;
    line-height: 1.3;
    height: 20px;
    font-weight: 500;
}

.button-mobile-categories i {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

@media (max-width: 585px) {
    .categories-wrapper-ul2 {
        width: 80%;
        border-radius: 0;
    }
}

.backButtonContainer {
    width: 100%;
    padding: 2rem 0 1rem 0;
    font-weight: 600;
    font-size: 2rem;
    border-bottom: 1px solid var(--gray-light);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.backButtonContainer i {
    margin-right: 1.4rem;
    font-weight: 600;
}

.ul-category2 li {
    display: flex;
    align-items: center;
}

.ul-category2 li i {
    min-width: 25px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--black-color-lighter);
    font-size: 1.5rem;
}

.ul-category2 li i:hover {
    color: var(--purple-light)
}

.categoriesMobileBreadcrumb {
    border-width: 1px;
    padding-top: 1rem;
    justify-content: flex-start;

}

.button-mobile-categories:hover span {
    color: var(--purple-light);
}

.ul-category2 {
    padding-left: 0;
}

.ul-category2 span {
    font-size: 1.5rem !important
}

.wrapper-div-ul-2 {
    border-bottom: 1px solid var(--gray-light);
}

.li-depth-11>ul.nested-ul-category2>li.li-depth-22>div {
    width: 100%;
}

.categories-wrapper-ul2 {
    z-index: 103;
    transition: transform .2s ease;
}

body.mobileCategoriesActive .overlay {
    z-index: 102;
}

@media (max-width: 500px) {

    header #menu_settings {
        margin-left: auto !important;
    }
}

#menu_settings2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#menu_additional2 {
    display: flex;
    flex-direction: column;
}

#menu_additional2>a:first-child {
    padding-top: .5rem;
}

#menu_additional2>a {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    color: var(--black-color-lighter);
    line-height: 1.3;
    font-weight: 500;
    padding-bottom: .5rem;
}

#menu_additional2>a:hover {
    color: var(--purple-light)
}

#menu_additional2>a img {
    max-width: 20px;
    margin-right: 2rem;
}

#menu_basket2 {
    width: 100%;
}

#menu_basket2 .menu_basket_list a {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    font-size: 1.5rem;
    align-items: center;
    color: var(--black-color-lighter);
    font-weight: 500;
}

#menu_basket2 .menu_basket_list a img {
    max-width: 20px;
    max-height: 20px;
    margin-right: 2rem;
    rotate: 45deg;
}

.ul-category2 {
    transition: transform .1s ease;
}

.backButtonContainer:hover {
    color: var(--purple-light)
}

.button-mobile-categories span {
    overflow: hidden;
}

header.isSticky .button-mobile-categories span {
    height: 0;
}

@media (max-width: 585px) {
    header #menu_settings a:not(.basket-link) span {
        font-size: 15px;
        height: 20px;
    }

    .basket-link-empty .basket-empty {
        font-size: 15px;
        height: 20px;
        line-height: 1.3;
    }

    #menu_settings a {
        margin: 0 10px
    }

    header #menu_settings a span .wish-link span.wish-count {
        width: 24px !important;
        height: 24px !important;
        font-size: 12px;
    }
}

.button-mobile-categories {
    min-width: 35px;
}

@media(max-width:480px) {

    #menu_settings a img,
    header .menu_basket_list.empty .img-counter-header,
    .button-mobile-categories i {
        max-width: 20px;
        max-height: 20px;
        font-size: 20px;
    }

    #menu_settings a {
        margin: 0 5px
    }

    #menu_settings a span,
    .button-mobile-categories span {
        font-size: 12px !important;
    }

    #menu_basket_wrapper,
    #menu_settings a {
        width: 45px;
    }

    header .menu_basket_list {
        height: 45px;
        display: flex;
        align-items: center;
    }

    header #logo img {
        max-width: 100%;
        padding-right: .5rem;
    }
}

.categories-mobile {
    margin: 0;
}

header.stickyMobile .button-mobile-categories span {
    height: 0;
}

header {
    position: fixed !important;
    ;
    transform: translateX(-50%) !important;
}

#container {
    padding-top: 90px;
    margin-top: 0;
}

@media (max-width: 978px) {
    #container {
        padding-top: 120px;
    }
}

#menu_settings2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-light);
}

.contact-mobile-text {
    padding-top: 1rem;
}

.ul-category2 li {
    padding: .5rem 0
}

.categoriesMobileBreadcrumb {
    margin-bottom: 1rem;
}

header {
    transition: height .2s ease, max-width .2s ease, max-height .2s ease, width .2s ease !important;
}

header a {
    transition: background-color 0.2s, color 0.2s, border 0.2s !important;
}

.top-header-wrapper .custom-nav-header .nav-category-header {
    height: 100%;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.custom-nav .nav-category p {
    white-space: nowrap;
}

.categoriesMobileBreadcrumb i {
    margin-right: 1rem;
}

.categoriesMobileBreadcrumb span {
    margin: 0
}

#menu_settings a img+span,
.basket-link-empty .basket-empty {
    transition: height .2s ease !important;
}

@media(min-width:585px) {

    header .menu_basket_list.empty .img-counter-header,
    #menu_settings a img {
        width: 28px;
        height: 28px;
        max-height: 28px;
        max-width: 28px;
    }
}

.container-contact-div {
    position: relative;
    border-right: 2px solid var(--gray-light);
}

.contact-info-header {
    position: absolute;
    left: calc(100% + 2px);
    top: 50%;
    transform: translateY(-50%) scaleX(0);
    display: flex;
    background: #fff;
    z-index: 2;
    font-size: 10px !important;
    width: 400%;
    height: 180%;
    transition: transform .2s ease !important;
    ;
    transform-origin: left;
    padding-left: .5rem;
    max-height: 78px;
}

header.isSticky .contact-info-header,
header.stickyMobile .contact-info-header {
    max-height: 56px;
}

.container-contact-div:hover .contact-info-header {
    transform: translateY(-50%) scaleX(1);
}

.contact-info-header .col,
.contact-info-header .col-4 {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-info-header .col-4 p {
    display: flex;
}

#menu_settings .contact-info-header a {
    padding: 0;
    color: var(--black-color-lighter)
}

#menu_settings .contact-info-header a:hover {
    color: var(--purple-light)
}

#menu_basket2 .menu_basket_list a:hover {
    color: var(--purple-light)
}

@media(max-width:585px) {
    #container.main_page {
        padding-left: 0;
        padding-right: 0;
    }
}

header #menu_settings a:not(.basket-link) span {
    font-size: 12px;
    transition: height .2s ease !important
}

#menu_settings>div>a,
#menu_settings>a,
#menu_settings a img+span,
header #menu_settings a:not(.basket-link) span,
.basket-link-empty .basket-empty {
    height: auto;
}

#menu_settings>div>a,
#menu_settings>a,
#menu_settings a img+span,
header #menu_settings a:not(.basket-link) span,
.basket-link-empty .basket-empty {
    transform: none !important;
    transition: height .2s ease !important;
    font-size: 12px;
    height: 20px;
}

#menu_settings .account_link,
#menu_settings .wishlist_link {
    height: 100%;
}

#menu_basket_wrapper {
    max-height: 45px;
}

header.isSticky #menu_basket_wrapper,

header .menu_basket_list.empty .img-counter-header,
#menu_settings a img {
    /* width: 25px; */
    /* height: 28px; */
    /* max-height: 28px; */

    /* max-width: 25px; */
}

header.isSticky #menu_basket_wrapper .menu_basket_list {
    max-width: unset;
    width: unset;
}

.menu_basket_list {
    max-height: 45px;
}

/* header.isSticky a.basket-link {
    padding: 0 !important;
} */

@media (min-width: 585px) {

    header .menu_basket_list.empty .img-counter-header,
    #menu_settings a img {
        width: 25px;
        height: 25px;
        max-height: 25px;
        max-width: 25px;
    }
}

header .top-header-wrapper {
    height: 65px;
    transition: padding .2s ease, height .2s ease !important;
}

header {
    transition: height .2s ease, border .2s ease !important;
}

header #menu_settings {
    transition: height .2s ease !important;
}

header #menu_settings a:not(.basket-link) span.wish-count {
    height: 27px;
}

@media (max-width: 585px) {

    #menu_settings a {
        padding: 0 10px !important;
        width: unset;
        margin: 0;
    }

    header #menu_settings a:not(.basket-link) span.wish-count {
        font-size: 1rem;
        height: 20px;
        top: -7px;
        right: 10px;
    }

    #container header #menu_settings a span.counter {
        font-size: 1rem;
        right: -10px;
        top: -7px;
    }


    .menu_basket_list,
    #menu_basket_wrapper {
        max-height: 48px;
    }
}

@media(max-width:480px) {
    #menu_settings a {
        padding: 0px 4px !important;
    }

    #menu_settings a span,
    #menu_settings a img+span {
        font-size: 10px !important;
    }

    .button-mobile-categories {
        min-width: 25px;
    }

    header #menu_settings a:not(.basket-link) span.wish-count {
        font-size: .8rem !important;
        height: 16px !important;
        top: -7px;
        right: 4px;
        width: 16px;
    }

    #container header #menu_settings a span.counter {
        font-size: .8rem !important;
        right: -8px;
        top: -7px;
        width: 16px;
        height: 16px !important;
    }

    #menu_settings a span,
    .button-mobile-categories span {
        font-size: 10px !important;
    }

    header #menu_settings a:not(.basket-link) span.wish-count,
    #container header #menu_settings a span.counter {
        border-width: 2px;
    }
}

#container header #menu_settings a span.counter {
    font-weight: 500;
}

.main_page #content {
    padding-left: 0;
    padding-right: 0;
}

.contact-mobile-text {
    width: 100%;
}

.contact-mobile-text>div {
    display: flex;
}

.contact-mobile-text>div>div {
    flex-basis: 50%;
    margin-bottom: .5rem;
}

.contact-mobile-text>div>div strong {
    font-weight: 600;
}

.contact-mobile-text>div>div i {
    margin-right: .5rem;
}

.main_slider a {
    display: block;
    height: 100%;
    cursor: pointer;
}

.ui-autocomplete {
    border-radius: 24px;
    margin-top: 1rem;
    /* margin-top: 3rem; */
    /* padding-top: 3rem; */
}

.menuitem_product .autocomplete_name {
    font-size: 12px;
    font-weight: 500;
}

.ui-autocomplete-category {
    font-weight: 600;
}

.autocomplete_price {
    font-weight: 600;
    font-size: 14px;
}

.ui-autocomplete .menuitem_product {
    border-radius: 10px;
}

element.style {
    transform: translateX(0px);
}

.categories-wrapper-ul2 {
    z-index: 103;
    transition: transform .2s ease;
}


@media (max-width: 978px) {

    .categories-wrapper-ul2 {
        left: 0;
        right: unset;
        transform: translateX(-100%);
        border-radius: unset;
        max-height: 100vh;
    }
}

.ul-category2 li {
    line-height: 1;
}

.categories-wrapper-ul2 {
    padding-bottom: 10rem;
}

.logo-text {
    transition: all .1s ease !important;
}

body.isSticky .logo-text {
    font-size: 1.2rem;
}

.custom-nav-header {
    transition: all .2s ease !important;
    border-radius: none;
}

header .top-header-wrapper .custom-nav-header {
    max-height: 100px;

}

/* !!!!!!!!!!!!!!!!LOGO!!!!!!!!!!!!!!!!!!! */
#logo img {
    width: 140px;
    height: 47px;
    transition: all .2s ease !important;
}

header.isSticky #logo img,
header.stickyMobile #logo img {
    width: 105px;
    height: 35px;
}

@media(max-width:978px) {
    #logo img {
        width: 105px;
        height: 35px;
    }

}

@media(max-width:680px) {
    header .top-header-wrapper {
        justify-content: space-between;
    }

    header #menu_settings {
        margin-left: 0 !important;
    }
}

#menu_basket div.menu_basket_list>a strong,
#menu_basket div.menu_basket_list>a strong span {
    font-size: 12px;
}

#menu_basket div.menu_basket_list>a strong,
#menu_basket div.menu_basket_list>a strong b {
    font-weight: 600;
}


#menu_basket div.menu_basket_list>a strong b,
#menu_basket div.menu_basket_list>a strong span {

    transform: none !important;
    /* transform-origin: top; */
}

#menu_basket div.menu_basket_list>a strong {
    transition: height .2s ease !important;
    height: 20px;
    display: flex;
    align-items: flex-start;
}

#menu_basket_wrapper {
    width: unset;
}

.menu_basket_list .img-counter-header {
    height: 25px;
}

.basket-empty.has-product-mobile {
    font-size: 12px;
    height: 20px;
    transition: height .2s ease !important;
    display: flex;
    align-items: flex-start;
    line-height: 1.3;
}

header.stickyMobile .basket-empty.has-product-mobile {
    height: 0;
}

.button-mobile-categories span {
    font-size: 12px;
}

@media(min-width: 681px) {
    .has-product-mobile {
        display: none !important
    }

    .contact-info-header {
        display: none;
    }
}

@media(max-width:585px) {
    .menu_basket_list .img-counter-header {

        height: 28px;
    }
}

@media(max-width:480px) {
    .menu_basket_list .img-counter-header {

        height: 20px;
    }
}

.menu_basket_list2 img {
    width: 20px;
    height: 20px;
    margin-right: 2rem;
}

.menu_basket_list2 strong {
    font-weight: 500;
    display: none !important;
}

.menu_basket_list2 .badge {
    display: none;
}

.menu_basket_list2 .basket-link {
    flex-direction: row;
    justify-content: flex-start;
    color: var(--black-color-lighter);
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
}

header .basket-link strong b,
header.isSticky .basket-link strong b {
    margin-right: .2rem;
}

@media(max-width:1199px) {
    .ul-category-header>li {
        padding: 0 1rem
    }
}

.li-depth-33 {
    height: 2.6rem;
    min-height: 2.6rem;
}

.categories-wrapper-ul2 {
    max-height: 80vh;
    padding-bottom: 2rem;
}

#menu_additional2>a {
    height: 2.5rem;
    min-height: 2.5rem;
}

/* #menu_basket_wrapper2 *,
#menu_basket_wrapper2 {
    height: 2rem;
    min-height: 2rem;
} */
#menu_settings2 {
    min-height: 10rem;
    padding-bottom: 0;
}

@media(max-width:585px) {

    .main_page .banner img {
        max-height: 150px;
    }
}

@media(max-width:400px) {

    .main_page .banner img {
        max-height: 100px;
    }
`